.singlePage {
  padding: 50px 0;
  background: #fff;
}

.singlePage .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.singlePage .left {
  flex: 1;
  max-width: 50%;
}

.singlePage img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 400px; /* Set a maximum height */
  object-fit: cover; /* Maintain image quality */
  border-radius: 10px;
}

.singlePage .right {
  flex: 1;
  margin-top: 30px;
  margin-left: 20px;
}

.singlePage h1 {
  font-size: 30px;
  font-weight: 500;
}

.singlePage p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
}

.singlePage .buttons {
  display: flex;
  justify-content: flex-end;
}

.singlePage .button {
  margin-left: 20px;
  border: none;
  color: #fff;
}

.singlePage .button:nth-child(1) {
  background: #10ac84;
}

.singlePage .button:nth-child(2) {
  background: #ee5253;
}
